*, *:before, *:after {
    box-sizing: border-box ;
}

 h5{
     font-family: $font-title;
     background-image: url('/images/logo.svg');
     background-size: 200px;
     background-position: left center;
     background-repeat: no-repeat;
 }

 div.logo{
    margin-top:35px ; margin-left:45px

 }

 div.left{
     margin-top: 60px;
     margin-left: 50px;

 }

 div.right{
    right: 1000px;
    

}

img.fondoizq{
    padding: 0% 0% 0% 0%;
}

 #content.container1{
    border: none;


}